.popupWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1000;
  }
  
.mainPopup {
  background: white;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.qr {
  width: 100%;
  height: auto; 
}

.close {
  display: flex;
  justify-content: space-between;
  width: 100%;
}