.shopTabBar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-gray-10, #f5f5f5);
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .tab {
    display: flex;
    width: 75px;
    padding: 12px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    user-select: none;
  }
  
  .tab.active {
    border-bottom: 2px solid var(--primary-primary-blue-default, #2b91ff);
    color: var(--gray-gray-100, #222022);
  }
  
  .tab.inactive {
    color: var(--gray-gray-40, #b8b8b8);
  }