.container {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow-y: hidden;
}

.wrapper {
  height: 90%;
  padding-bottom: 124px;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 32px;
  overflow-y: scroll;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--gray-60);
  font-size: 14px;
  font-weight: 500;
}

.errorMsg {
  color: #ea4646;
  font-size: 14px;
  font-weight: 500;
  margin-left: 4px;
}

.buttonWrapper {
  width: calc(100% - 64px);
  position: absolute;
  bottom: 48px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
