.container {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow-y: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 28px 24px 48px 24px;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'NanumSquareNeoExtraBold';
  font-size: 18px;
  color: var(--gray-100);
  white-space: pre-wrap;
}

.addProfileButton {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: var(--gray-60);
  font-size: 14px;
  font-weight: 400;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  padding-bottom: 140px;
  overflow-y: scroll;
}
