.TabBar {
  position: sticky;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--gray-gray-10, #f5f5f5);
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(24, 119, 242, 0.08);
}

.tab {
  display: flex;
  width: calc(100% / 2);
  padding: 12px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  user-select: none;
}

.tab.active {
  border-bottom: 2px solid var(--primary-primary-blue-default, #2b91ff);
  color: var(--gray-gray-100, #222022);
}

.tab.inactive {
  color: var(--gray-gray-40, #b8b8b8);
}
