.itemSelectContainer {
  width: 450px;
  height: auto;
  justify-content: space-between;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-gray-10, #f5f5f5);
  background: var(--background, #f9f9f9);
}

.topRow {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.bottomRow {
  display: flex;
  justify-content: space-between; /* 수량 선택기와 가격을 양 끝에 배치 */
  align-items: center; /* 수직 중앙 정렬 */
}

/* 반응형 미디어 쿼리 */
@media (max-width: 600px) {
  .itemSelectContainer {
    align-items: flex-start; /* 작은 화면에서 왼쪽 정렬 */
  }

  .topRow,
  .bottomRow {
    flex-direction: column; /* 세로로 배치 */
    align-items: flex-start; /* 왼쪽 정렬 */
    width: 100%; /* 자식 요소도 너비를 100%로 설정 */
    gap: 8px; /* 요소 간 간격 설정 */
  }
}
