.headerLayout {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 26px 19px 24.337px 24px;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(24, 119, 242, 0.08);
}