#root {
  position: relative;

  /* 화면 최대 너비를 500px로 지정 */
  max-width: 500px;
  /* 500px 이하일 경우 화면 전체 너비 사용 */
  width: 100vw;
  /* 모바일 기기일 경우 위아래 브라우저 UI 영역을 제외한 화면 높이 사용 */
  height: 100svh;

  /* 오버플로우 설정 */
  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--background);
}