:root {
  /* 폰트 설정 */
  font-family: Pretendard, NanumSquareNeo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 색상 변수 설정 */
  --gray-100: #222022;
  --gray-60: #838283;
  --gray-40: #b8b8b8;
  --gray-20: #dcdbdc;
  --gray-10: #f5f5f5;
  --white: #ffffff;
  --background: #f9f9f9;
  --primary-darken: #197ae3;
  --primary-default: #2b91ff;
  --primary-medium: #6ab2ff;
  --primary-light: #c8e2ff;
  --primary-bright: #eef6ff;
  --secondary-green-default: #39d15f;
  --secondary-green-light: #b5f6c6;
  --secondary-orange-default: #ff866b;

  /* 효과 변수 설정 */
  .drop-shadow-default {
    box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.08);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #c6ddf6;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: var(--gray-100);
}

div,
input,
li,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* default heading font */
h1 {
  font-family: NanumSquareNeoExtraBold;
  font-size: 18px;
}

h2 {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 700;
}

h4 {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
}

input,
button {
  border: none;
}
input:focus {
  outline: none;
}
